<div class="hint">nmap - network exploration tool and security / port scanner</div>
<% form_tag '/service/' + page[:id], :onsubmit => "LookingGlass.formHandler(this); return false;" do -%>
  <div class="row">
    <span class="field">Host: <input type="text" name="host"></span>
    <span class="field">Port: <input class="number" type="text" name="port"></span>
  </div>
  <div class="row"><%= submit_tag 'Execute' %></div>
  <div class="row output-wrapper"></div>
<% end -%>